*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
/**nav-bar **/
.nav-bar{
    background-color: #0f1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    color:#fff;
}
.nav-logo{
    background-image: url("./assets/amazon_logo.png");
    color:#2162a1;
    background-size: cover;
    height:53px;
    width:120px;
}
.borders{
    border:1px solid transparent;
}
.borders:hover{
    border:1.58px solid #fff;
}
/***box1**/
.nav-address{
    width:90px;
    margin:5px 2px 5px 0;
    padding:0px 9px;
    align-items: center;
}
.locations{
   margin-bottom: 10px;
   font-size: 18px;
   /* padding-bottom: 10px; */
   margin-right: 3px;
}
.address1{
    font-size: .78rem;
    font-weight: 500;
    color:#ccc;
    width:53px;
    margin:10px 0px 0px 20px;
  
}
.address2{
    padding:0px 0px 2px 5px;
    display: flex;
}

.india{
    font-size: .88rem;
    font-weight: 700;
    width:53px;
}
/*** box2 -search**/

.select-option{
    width:900px;
    /* height:40px; */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: sticky;

}
.select-option:hover{
   border:2px solid rgb(255, 204, 0);
   width:897px;
   height:38px;
}
.select-all{
    border:none;
    height:41px;
    width:53px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right:10px;
    margin-left: 5px;
}
.search{
    border:none;
    width:100%;
    margin-left: 5px;
    padding:9.5px 0px 9.5px 0px;
    margin:0px 0px 0px 0px;
}
/* .search:checked{
    border:2.5px solid rgb(255, 204, 0);
} */
.search-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:41px;
    border:none;
    color:#0f1111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right:10px;
    width:50px;
    background-color: rgb(255, 204, 0);
    /* margin-left: 5px; */

}
.search-logo i{
    font-size: large;
    padding-left:6px;
}
/**box3**/
.sing-in{
width:145px;
}

.sing-in-user{
font-size: 12px;
font-weight: 500;
margin:0px 0;
padding:12px 4px 0px 4px;

}

.account{
font-size: 14px;
font-weight: 700;
padding:0px 4px 12px 4px;
}


/**box4**/
.boxes{
    /* height:61px; */
}
.return{
width:79px;
/* height:61px; */
}
/**box5*/

.cart{
    width:90px;
}
.cart i{
    padding:8px 2px 12px 8px;
    font-size:35px;
}
.nav-cart{
    padding:0px 0px 8px 4px;
    font-weight: 700;
    font-size: 14px;
}
/****pannel**/
 
.pannel{
    display:flex;
    align-items: center;
    height:40px;
    background-color:#232f3e;

}
.all{
    display: flex;
    padding:7px 9px;
    align-items: center;
    color:#fff;
    width:60px;
    font-size:14px;
    font-weight: 700;
}
.all i{
    margin-left: 10px;
    margin-right: 8px;
    padding:4px 0px;
}
.content{
    display: flex;
    color:#fff;
    font-size: 14px;
    width:100%;

}
.content p{
    font-weight: 500;
    padding:9px 0px;
    margin-right: 18px;
}
/**hero-section**/

.hero-section{
    background-image:url("./assets/slider1.jpg");
    height:400px;
    background-size: cover;
    display:flex;
    align-items: end;
    justify-content: center;
}
.hero-content{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#0f1111;
    background-color: #fff;
    font-size:14px;
    height:40px;
    margin-bottom: 30px;
    width:89%;
}
/**main-content**/
.main-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3e6e6;
}
.card{
    /* border:2px solid black; */
    height:450px;
    width:23%;
    background-color: #fff;
    margin-bottom: 20px;
    /* padding-left: 50px; */
   
}
.card h2{
    margin-left:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card p{
    margin-top:10px;
    margin-left:30px;
}
.box-img{
    margin-left:30px;
    /* background-image: url("./assets/box1_image.jpg"); */
    height:303px;
    width:290px;
}
/**footer**/
.footer-pannel0{
    height:147px;
    color:black;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid rgba(255, 255, 255, 0);
    padding:10px 10px;
}
.footer-pannel0 p{
    font-size: 11px;
    color:#000;
}
.footer-pannel0 h2{
    padding-bottom: 10px;
}
.button{
    border:none;
    width:202px;
    height:30px;
    border-radius: 18px;
    background-color:  rgb(255, 204, 0);
    color:#0f1111;
}
.footer-pannel1{
    background-color: #37475a;
    color:#fff;
    display: flex; 
    height:50px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
   margin-top:30px;
}
.footer-pannel2{
    display:flex;
    height:400px;
    justify-content: space-evenly;
    background-color: #232f3e;
    color:#fff;
    padding-top:40px;
}
ul p{
    font-size:16px;
    color:#fff;
    font-weight: 700;
    margin-top:30px;
}

ul a{
    display:block;
    font-size:14px;
    color:#ddd;
    font-weight: 500;
    margin-top:10px; 
 
}
.footer-pannel3{
    border-top:.5px solid rgba(255, 255, 255, 0.374);
    background-color:  #232f3e;
    display:flex;
    justify-content: center;
    align-items: center;
    height:68px;
}
.amazon-logo{
    background-image: url("./assets/amazon_logo.png");
   
    background-size: cover;
    height:53px;
    width:120px;
}
.footer-pannel4{
    height:76px;
    background-color: #0f1111;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ddd;
}
.pages a{
    /* diplay:block; */
    color:#ddd;
    font-size: 12px;
}
.copyright p{
    color:#ddd;
    font-size: 12px;
}